    <!--breadcrumbs start-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>Contato</h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li><a href="#">Home</a></li>
                        <li class="active">Contato</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <!--google map start-->
     <div class="contact-map">
         <div id="map-canvas" style="width: 100%; height: 400px"></div>
     </div>
     <!--google map end-->

     <!--container start-->
    <div class="container">


        <div class="row">
            <div class="col-lg-5 col-sm-5 address">
                <h4>Campinas</h4>
                <p>
                    Rua Espanha 287 <br />
                    Vila Rossi Borghi e Siqueira - Campinas<br/>
                    CEP 13070-260.
                </p>
                <br>
                <br>
                <br>
                <p>
                    Fone <br/>
                    <span class="muted">(19) 2515-1793</span><br/>
                    Email <br/>
                    <span class="muted">contato@focusautomation.com.br</span>
                </p>
            </div>
            <div class="col-lg-7 col-sm-7 address">
                <h4>Mande sua Mensagem</h4>
                <div class="contact-form">
                    <form role="form">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" placeholder="" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" placeholder="" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">Fone</label>
                            <input type="text" id="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phone">Mensagem</label>
                            <textarea placeholder="" rows="5" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-danger" type="submit">Enviar</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <!--container end-->