		<div id="transcription"></div>
        <div id="texto"></div>
        <div class="command">
            <button id="rect">Gravar</button>
            <button id="stop">Parar</button>
        </div>
 
	    <span id="unsupported" class="hidden">API not supported</span>
 
    <script type="text/javascript">
      // Test browser support
      window.SpeechRecognition = window.SpeechRecognition       ||
                                 window.webkitSpeechRecognition ||
                                 null;
 
		//caso não suporte esta API DE VOZ                              
		if (window.SpeechRecognition === null) {
	    	document.getElementById('unsupported').classList.remove('hidden');
        }else {
            var recognizer = new window.SpeechRecognition();
            var transcription = document.getElementById("transcription");
            var txt = document.getElementById("texto");
        	//Para o reconhecedor de voz, não parar de ouvir, mesmo que tenha pausas no usuario
        	recognizer.continuous = true
        	recognizer.onresult = function(event){
        		transcription.textContent = "";
        		for (var i = event.resultIndex; i < event.results.length; i++) {
        			if(event.results[i].isFinal){
                        transcription.textContent = event.results[i][0].transcript+' (Taxa de acerto [0/1] : ' + event.results[i][0].confidence + ')';

                        var text = event.results[i][0].transcript;

                        if(text == "google"){
                            window.location.href = "http://www.google.com.br";
                        }
                        else if(text == "eric"){
                            alert("Fedidão");
                        }else{
                            txt.textContent += event.results[i][0].transcript;
                        }
        			}else{
		            	transcription.textContent += event.results[i][0].transcript;
        			}
        		}
        	}
            document.querySelector("#rect").addEventListener("click",function(){
                try {
                    recognizer.start();
                  } catch(ex) {
                    alert("error: "+ex.message);
                  }
            }); 
           	document.querySelector("#stop").addEventListener("click",function(){
        		try {
		            recognizer.stop();
		          } catch(ex) {
		          	alert("error: "+ex.message);
		          }
        	});
        }
    </script>